{% trans %}
Thank you for registering in Threefold Circles

We hope you enjoy it

--
The Threefold Team
{% endtrans %}
{% trans url=resolve_front_url('cancel-account', cancel_token) %}
You may remove your account from this service: {{ url }}
{% endtrans %}
